.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
}

.footer__text {
  align-self: center;
  padding-bottom: 15px;
  text-shadow: 2px 2px 0 var(--highlight-color);
  justify-self: center;
}

@media (min-width: 768px) {
  .footer {
    min-height: 1000px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 740px;
  }

  .visual-container-footer::after {
    bottom: 25px;
  }
}
