.reasons {
  margin: 40px 0 0;
}

@media (min-width: 768px) {
  .reasons {
    display: grid;
    grid-template-columns: 234px 1fr;
    column-gap: var(--spacing);
    margin: 81px 0 0;
  }
}

@media (min-width: 1024px) {
  .reasons {
    grid-template-columns: 310px 1fr;
  }
}
