.page.theme_dark {
  --highlight-color: #ff0070;
  --dark-bg-text: #000028;
  --alt-bg-color: #000028;
  --base-text: #f1b2ce;
  --shadow-text-color: #db00ff;
  --button-hover: #ff007066;
  --heading-color: #ff0070;
  --bracket-color: #ff0070;
  --nav-color: #ff0070;
  --rec-indicator: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}
